In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(10, 4),columns=["a","b","c","d"])
df

          a         b         c         d
0  1.045640  1.183414 -0.630443 -1.261745
1  0.867072 -0.155740 -0.066345  0.954073
2  1.489081 -1.289125 -0.485874 -1.029169
3  0.710958  1.331165 -0.761348 -0.363487
4  1.165919  0.029734  1.867658 -0.517311
5 -0.157971 -1.304051 -1.969125  0.844922
6 -0.140249 -0.338781  0.150759 -0.593450
7  0.101777  0.200370  2.055585 -0.073338
8 -1.302732  0.217212  0.481578  0.106576
9 -0.511837 -0.290087  1.168049 -0.298858

In [7]:
sr = pd.Series(["0"],index=["e"])
sr.rename("sr",inplace=True)

e    0
Name: sr, dtype: object

In [8]:
df

          a         b         c         d
0  1.045640  1.183414 -0.630443 -1.261745
1  0.867072 -0.155740 -0.066345  0.954073
2  1.489081 -1.289125 -0.485874 -1.029169
3  0.710958  1.331165 -0.761348 -0.363487
4  1.165919  0.029734  1.867658 -0.517311
5 -0.157971 -1.304051 -1.969125  0.844922
6 -0.140249 -0.338781  0.150759 -0.593450
7  0.101777  0.200370  2.055585 -0.073338
8 -1.302732  0.217212  0.481578  0.106576
9 -0.511837 -0.290087  1.168049 -0.298858

In [9]:
df.append(sr)

           a         b         c         d    e
0   1.045640  1.183414 -0.630443 -1.261745  NaN
1   0.867072 -0.155740 -0.066345  0.954073  NaN
2   1.489081 -1.289125 -0.485874 -1.029169  NaN
3   0.710958  1.331165 -0.761348 -0.363487  NaN
4   1.165919  0.029734  1.867658 -0.517311  NaN
5  -0.157971 -1.304051 -1.969125  0.844922  NaN
6  -0.140249 -0.338781  0.150759 -0.593450  NaN
7   0.101777  0.200370  2.055585 -0.073338  NaN
8  -1.302732  0.217212  0.481578  0.106576  NaN
9  -0.511837 -0.290087  1.168049 -0.298858  NaN
sr       NaN       NaN       NaN       NaN    0

In [11]:
sr

e    0
Name: sr, dtype: object

In [17]:
sr[0] = 2

In [20]:
sr["1"] =3

In [23]:
sr2 = pd.Series("1,2,3")

In [25]:
sr2["1"] =2

In [26]:
sr2

0    1,2,3
1        2
dtype: object

In [37]:
l = list("ab")

In [38]:
sr3 = pd.Series(l)

In [39]:
sr3

0    a
1    b
dtype: object