In [1]:
import pandas as pd
import numpy as np
import FinanceDataReader  as fdr

In [2]:
# https://financedata.github.io/posts/finance-data-reader-users-guide.html

### KODEX200 읽어오기

In [3]:
df = fdr.DataReader("KS11")  ##KS11 코스피 지수

In [4]:
df.tail()

              Close     Open     High      Low       Volume  Change
Date
2019-01-14  2064.52  2070.49  2073.94  2059.46  432890000.0 -0.0053
2019-01-15  2097.18  2069.14  2098.01  2067.58  439490000.0  0.0158
2019-01-16  2106.10  2098.65  2106.35  2091.92  500080000.0  0.0043
2019-01-17  2107.06  2110.14  2117.43  2101.70  475880000.0  0.0005
2019-01-18  2124.28  2116.43  2124.50  2113.44     449280.0  0.0082

In [5]:
df.head()

              Close     Open     High      Low       Volume  Change
Date
2010-01-04  1696.14  1681.71  1696.14  1681.71  296550000.0  0.0079
2010-01-05  1690.62  1701.62  1702.39  1686.45  408850000.0 -0.0033
2010-01-06  1705.32  1697.88  1706.89  1696.10  426040000.0  0.0087
2010-01-07  1683.45  1702.92  1707.90  1683.45  462400000.0 -0.0128
2010-01-08  1695.26  1694.06  1695.26  1668.84  379950000.0  0.0070

### csv 파일로 저장하기

In [6]:
df.to_csv("KOSPI_daily_data.csv",sep=",",encoding="utf-8")

### 마지막 영업일로 월별데이타 만들기

In [7]:
bm = df.resample("BM").last()

In [8]:
bm.tail()

              Close     Open     High      Low       Volume  Change
Date
2018-09-28  2343.07  2356.13  2356.62  2337.47  317870000.0 -0.0052
2018-10-31  2029.69  2022.84  2030.50  2006.63  373030000.0  0.0074
2018-11-30  2096.86  2116.83  2122.33  2093.83  427350000.0 -0.0082
2018-12-31  2041.04  2036.70  2046.97  2035.41  352680000.0  0.0062
2019-01-31  2124.28  2116.43  2124.50  2113.44     449280.0  0.0082

In [9]:
bm.to_csv("KOSPI_monthly_data.csv", sep=",",encoding="utf-8")