In [1]:
import pandas as pd
import numpy as np
import FinanceDataReader  as fdr

In [2]:
# https://financedata.github.io/posts/finance-data-reader-users-guide.html

### KOSDAQ읽어오기

In [3]:
df = fdr.DataReader("KQ11")

In [4]:
df.tail()

             Close    Open    High     Low       Volume  Change
Date
2019-01-14  683.09  687.42  687.42  682.54  613340000.0 -0.0047
2019-01-15  690.39  684.97  691.56  684.32  639020000.0  0.0107
2019-01-16  693.38  692.72  693.50  687.43  788310000.0  0.0043
2019-01-17  686.35  694.94  696.21  686.27  862710000.0 -0.0101
2019-01-18  696.34  690.83  696.34  689.80  819960000.0  0.0146

In [5]:
df.head()

             Close    Open    High     Low     Volume  Change
Date
2010-01-04  528.09  517.03  528.10  517.03   666850.0  0.0283
2010-01-05  533.09  533.43  536.65  531.06   886820.0  0.0095
2010-01-06  539.12  537.10  539.13  532.54  1130000.0  0.0113
2010-01-07  535.52  542.88  545.42  534.63  1180000.0 -0.0067
2010-01-08  538.96  539.63  540.29  529.67   893030.0  0.0064

### csv 파일로 저장하기

In [6]:
df.to_csv("KOSDAQ_daily_data.csv",sep=",",encoding="utf-8")

### 마지막 영업일로 월별데이타 만들기

In [7]:
bm = df.resample("BM").last()

In [8]:
bm.tail()

             Close    Open    High     Low       Volume  Change
Date
2018-09-28  822.27  832.37  833.14  819.90  704230000.0 -0.0129
2018-10-31  648.67  648.72  650.38  638.38  619020000.0  0.0070
2018-11-30  695.76  696.99  700.51  692.80  537910000.0  0.0004
2018-12-31  675.65  670.83  675.89  669.71  598210000.0  0.0116
2019-01-31  696.34  690.83  696.34  689.80  819960000.0  0.0146

In [9]:
bm.to_csv("KOSDAQ_monthly_data.csv", sep=",",encoding="utf-8")