In [1]:
import pandas as pd
import numpy as np
import FinanceDataReader  as fdr

In [2]:
# https://financedata.github.io/posts/finance-data-reader-users-guide.html

### KODEX 코스닥 150 읽어오기

In [3]:
df = fdr.DataReader("229200")

In [4]:
df.tail()

             Open   High    Low  Close   Volume    Change
Date
2019-01-14  11635  11660  11495  11500  2083391 -0.014145
2019-01-15  11535  11690  11525  11625  3006123  0.010870
2019-01-16  11645  11650  11510  11605  3296776 -0.001720
2019-01-17  11645  11670  11420  11420  3437730 -0.015941
2019-01-18  11480  11640  11480  11630  3063345  0.018389

In [5]:
df.head()

             Open   High    Low  Close  Volume    Change
Date
2015-10-01  10638  10638  10569  10572   30032       NaN
2015-10-02  10609  10634  10609  10621   60029  0.004635
2015-10-05  10737  10747  10688  10708   40976  0.008191
2015-10-06  10728  10757  10648  10650   40252 -0.005417
2015-10-07  10569  10569  10413  10413   20248 -0.022254

### csv 파일로 저장하기

In [6]:
df.to_csv("KODEX코스닥150_daily_data.csv",sep=",",encoding="utf-8")

### 마지막 영업일로 월별데이타 만들기

In [7]:
bm = df.resample("BM").last()

In [8]:
bm.tail()

             Open   High    Low  Close   Volume    Change
Date
2018-09-28  14390  14500  14150  14150  3700968 -0.015310
2018-10-31  11560  11560  11260  11285  9078381 -0.021673
2018-11-30  11935  12030  11875  11950  3156898  0.005469
2018-12-31  11765  11830  11665  11800  4845337  0.004255
2019-01-31  11480  11640  11480  11630  3063345  0.018389

In [9]:
bm.to_csv("KODEX코스닥150_monthly_data.csv", sep=",",encoding="utf-8")