In [2]:
import pandas as pd
import numpy as np
import FinanceDataReader  as fdr

### KODEX200 읽어오기

In [3]:
df = fdr.DataReader("069500")

In [5]:
df.tail()

             Open   High    Low  Close   Volume    Change
Date
2018-12-27  26500  26590  26405  26470  8683053  0.012431
2018-12-28  26535  26700  26535  26580  4337356  0.004156
2019-01-02  26780  26820  26185  26270  4795980 -0.011663
2019-01-03  26265  26295  25985  26015  5649255 -0.009707
2019-01-04  26005  26250  25935  26215  4733313  0.007688

In [6]:
df.head()

             Open   High    Low  Close   Volume    Change
Date
2010-01-04  19773  19926  19773  19904   883268  0.006066
2010-01-05  19962  19971  19830  19885  1781284 -0.000955
2010-01-06  19917  20055  19909  20022   962659  0.006890
2010-01-07  20013  20036  19765  19774  1250996 -0.012386
2010-01-08  19857  19865  19605  19850  1428088  0.003843

### csv 파일로 저장하기

In [10]:
df.to_csv("KODEX200_daily_data.csv",sep=",",encoding="utf-8")

### 마지막 영업일로 월별데이타 만들기

In [11]:
bm = df.resample("BM").last()

In [13]:
bm.tail()

             Open   High    Low  Close   Volume    Change
Date
2018-09-28  30262  30262  30017  30033  6300176 -0.006254
2018-10-31  26345  26425  26130  26390  5778168  0.004568
2018-11-30  27480  27535  27100  27160  5378880 -0.009301
2018-12-31  26535  26700  26535  26580  4337356  0.004156
2019-01-31  26005  26250  25935  26215  4733313  0.007688

In [15]:
bm.to_csv("KODEX200_monthly_data.csv", sep=",",encoding="utf-8")